<ion-view view-title="About Us">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
    
        <div class="list card energized-100-bg">

  <div class="item item-avatar">
    <img src="img/prblm.jpg">
    <h2>Existing Problem</h2>
    <p>Why this App??</p>
  </div>

  <div class="item item-body">
    
    <ul>
      <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;Women needs nearby helping hand when she is in trouble.</li><br>
 <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;Women need privacy as equal as security whenever, wherever she goes.</li><br>
  <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;When you are in emergency you are not in the situation to operate your 
       Mobile phone to send SMS, Make a phone call to relatives.</li><br>
        <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp; You need a better alternative.</li><br>
  <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;She don’t need mobile app, she need mobile assistance.</li></ul>

      </div>
</div>

 <div class="list card royal-100-bg">

  <div class="item item-avatar">
    <img src="img/durga.jpg">
    <h2>Durga Buzer</h2>
    <p>How Its Work??</p>
  </div>

  <div class="item item-body">
    
    <ul>
      <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;
Durga buzzer is pre secure application.</li><br>
  <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;Here User need not to working with this application always. </li><br>
    <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;Just INTEGRATE with 
HIKE once is enough. </li><br>
  <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;This Use the Hot word called “Help me Durga”. This will connect the women to nearest Durga.  </li><br>
    <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;It collects the heat map of past criminal activities happened in that area.</li><br>
      <li><i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;&nbsp;&nbsp;Based on that it will spilt each are to,Green,Orange and Red.</li></ul>

      </div>
</div>
        
    </ion-content>
</ion-view>
