<ion-view view-title="Tips" >

<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card energized-100-bg">

  <div class="item item-avatar">
    <img src="img/aware.jpg">
    <h2>Awareness</h2>
    
  </div>

  <div class="item item-body">
    
    <p>Your first line of defense. Most people think of kicks to the groin and blocking punches when they hear the term “self-defense.” However, true self-defense begins long before any actual physical contact. The first, and probably most important, component in self-defense is awareness: awareness of yourself, your surroundings, and your potential attacker’s likely strategies.
      
    </p>
    <p>The criminal’s primary strategy is to use the advantage of surprise. Studies have shown that criminals are adept at choosing targets who appear to be unaware of what is going on around them. By being aware of your surroundings and by projecting a “force presence,” many altercations which are commonplace on the street can be avoided.</p>

  </div>

  

</div>
        
            </div>
        </div>
    </ion-content>
</ion-view>
