<ion-view view-title="Bad Location" hide-nav-button="true">
 <button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card assertive-100-bg">

  <div class="item item-avatar">
    <img src="img/red.jpg">
    <h2>Danger Location</h2>
    <p>Be Alert and Very Careful..</p>
    
  </div>

  <div class="item item-body">
    
    <p>This Red Background indicates you are in Danger location. In this situation this app will tell show some basic tips to control your mind and make you as calm. When you enter into the red location this app automatically will send pre alert message to My Durga Group. In this red area you can chat with your My Durga group. This will make feel like you were protected by some one. This screen also have voice detection to recoganize the hotword "Help me Durga".</p>

  </div>

  

</div>
        
            
    </ion-content>
</ion-view>
