<ion-view view-title="Tips">
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card royal-100-bg">

  <div class="item item-avatar">
    <img src="img/esc.jpg">
    <h2>Escape</h2>
    
  </div>

  <div class="item item-body">
    
    <p>Always your best option. What if the unthinkable happens? You are suddenly confronted by a predator who demands that you go with him–be it in a car, or into an alley, or a building. It would seem prudent to obey, but you must never leave the primary crime scene.</p><p> You are far more likely to be killed or seriously injured if you go with the predator than if you run away (even if he promises not to hurt you). Run away, yell for help, throw a rock through a store or car window–do whatever you can to attract attention. And if the criminal is after your purse or other material items, throw them one way while you run the other.</p>

  </div>

  

</div>
        
            </div>
        </div>
    </ion-content>
</ion-view>
