<ion-view view-title="Tips">
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card calm-100-bg">

  <div class="item item-avatar">
    <img src="img/fight.jpg">
    <h2>Your right to fight</h2>
    
  </div>

  <div class="item item-body">
    
    <p>Unfortunately, no matter how diligently we practice awareness and avoidance techniques, we may find ourselves in a physical confrontation. Whether or not you have self-defence training, and no matter what your age or physical condition, it is important to understand that you CAN and SHOULD defend yourself physically.</p><p> You have both the moral and legal right to do so, even if the attacker is only threatening you and hasn’t struck first. Many women worry that they will anger the attacker and get hurt worse if they defend themselves, but statistics clearly show that your odds of survival are far greater if you do fight back.</p><p> Aim for the eyes first and the groin second. Remember, though, to use the element of surprise to your advantage–strike quickly, and mean business.You may only get one chance.</p>

  </div>

  

</div>
        
            </div>
        </div>
    </ion-content>
</ion-view>
