<ion-view view-title="Forgot Password" hide-back-button="true">

   
   <ion-content style="background: url(img/bc.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Durga Buzzer</h1>
            </div>
        </div>
       
      <div class="list">
        
        <label class="item item-input">
          <span class="input-label" style="color:#FFFFFF;">Email</span>
          <input type="email" ng-model="user.email" style="color:#FFFFFF;">
        </label>
        
          <button ui-sref="app.lgn" class="button button-block button-positive">Done</button>
          
          <button ui-sref="app.login" class="button button-block button-stable">Cancel</button>
        
      </div>
    
        
    </ion-content>
</ion-view>
