<ion-view view-title="Service">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
 <button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content >
   
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
         

                <a ui-sref="app.good" class="item item-avatar item-icon-right">
                   <img src="img/green.jpg">
                    <h2>Good</h2>

                    
                </a>
                <a ui-sref="app.nb" class="item item-avatar item-icon-right">
                    <img src="img/org.jpg">
                    <h2>Not Bad</h2>
                    
                    
                </a>
                <a ui-sref="app.bad"  class="item item-avatar item-icon-right">
                    <img src="img/red.jpg">
                    <h2>Bad</h2>
                   
                </a>
                 <a ui-sref="app.hike" class="item item-avatar item-icon-right">
                    <img src="img/hike.jpg" >
                    <h2>Hike</h2>
                   
                </a>
              
            </div>
        </div>
    </ion-content>
</ion-view>
