<ion-view view-title="Good Location">
 <button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card balanced-100-bg">

  <div class="item item-avatar">
    <img src="img/green.jpg">
    <h2>Good Location</h2>
    <p>Feel free to go..</p>
    
  </div>

  <div class="item item-body">
    
    <p>This Green Background indicates you are in safe location. In this situation this app will show some basic tips to protect yourself. This screen also have voice detection to recoganize the hotword "Help me Durga".</p>

  </div>

  

</div>
        
            
    </ion-content>
</ion-view>
