<ion-view view-title="Hike Group">
 <button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card royal-100-bg">

  <div class="item item-avatar">
    <img src="img/hike.jpg">
    <h2>Hike Group</h2>
    <p>Covered my many Durgas..</p>
    
  </div>

  <div class="item item-body">
    
    <p>Main thing is when you enter into any location it will update you are in which type of location via voice message. This is the pre build group called My Durgas. When you enter into red location this app will automatically send pre alert message to this group. In this red location you can chat with this group. Whenever it detects the hotword "Help me Durga" it will send your profile with current location to this group. So, nereby Durgas will help using this information. It will also book a cab for you with current location information. After that it will inform to your parents also.  </p>

  </div>

  

</div>
        
            
    </ion-content>
</ion-view>
