<ion-view view-title="Moderate Location">
 <button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card energized-100-bg">

  <div class="item item-avatar">
    <img src="img/org.jpg">
    <h2>Moderate Location</h2>
    <p>Little bit be careful..</p>
    
  </div>

  <div class="item item-body">
    
    <p>This Orange Background indicates you are in moderate location. In this situation this app will tell some basic tips to protect yourself. This screen also have voice detection to recoganize the hotword "Help me Durga". This shows Google map to indicate your current location.</p>

  </div>

  

</div>
        
            
    </ion-content>
</ion-view>
