<ion-view view-title="Dashboard" hide-back-button="true">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
 <button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content >
   
        <div class="hero slide-up" style="background-image: url('img/org.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/durga.jpg');"></div>
                <h3><a class="light">Ratha</a></h3>
                <h4>I am a Durga</h4>
            </div>
        </div>
           <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-checkmark-circle"></i> Green
            </a>
            <a ui-sref="app.org" class="tab-item">
                <i class="icon ion-android-done"></i> Orange
            </a>
            <a ui-sref="app.red" class="tab-item">
                <i class="icon ion-android-close"></i> Red
            </a>
        </div>
        <br>
        <center>
        <img src="img/Microphone-icon.jpg" height="50" width="50">
        <img src="img/speaker.jpg" height="50" width="50">
    </center>
        <ion-scroll direction="xy" style="width:100%;height:100%;">
               <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
         </ion-scroll>
       
    </ion-content>
</ion-view>
