<ion-view view-title="Tips">
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card positive-100-bg">

  <div class="item item-avatar">
    <img src="img/spray.jpg">
    <h2>Pepper Spray</h2>
    
  </div>

  <div class="item item-body">
    
    <p>Pros and cons. Pepper spray, like other self-defence aids, can be a useful tool. However, it is important to understand that there can be significant drawbacks to its use. </p><p>For example, did you know that it doesn’t work on everyone? Surprisingly, 15-20% of people will not be incapacitated even by a full-face spray. Also, if you’re carrying it in your purse, you will only waste time and alert the attacker to your intentions whiles you fumble for it. </p><p>Never depend on any self-defense tool or weapon to stop an attacker. Trust your body and your wits, which you can always depend on in the event of an attack.</p>

  </div>

  

</div>
        
            </div>
        </div>
    </ion-content>
</ion-view>
