<ion-view view-title="Dashboard" hide-back-button="true">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content >
   
        <div class="hero slide-up" style="background-image: url('img/green.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/durga1.jpg');"></div>
                <h3><a class="light">Ratha</a></h3>
                <h4>I am a Durga</h4>
            </div>
        </div>
           <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-checkmark-circle"></i> Green
            </a>
            <a ui-sref="app.org" class="tab-item">
                <i class="icon ion-android-done"></i> Orange
            </a>
            <a ui-sref="app.red" class="tab-item">
                <i class="icon ion-android-close"></i> Red
            </a>
        </div>
        <br>
        <center>
        <img src="img/Microphone-icon.jpg" height="50" width="50">
        <img src="img/speaker.jpg" height="50" width="50">
    </center>
    <h3 class="content padding double-padding-x" style="color:brown">Tips</h3>
        <a ui-sref="app.aware" class="item item-body item-avatar item-icon-right">
                    <img src="img/aware.jpg">
                    <h2> Awareness  </h2>
                    
                </a>
                
                <a  ui-sref="app.sense"  class="item item-body item-avatar item-icon-right">
                    <img src="img/sense.jpg">
                    <h2>  Use your sixth sense   </h2>
                    
                </a>

                <a  ui-sref="app.peper"  class="item item-body item-avatar item-icon-right">
                    <img src="img/spray.jpg">
                    <h2>  Pepper Spray  </h2>
                    
                </a>

                <a  ui-sref="app.fight"  class="item item-body item-avatar item-icon-right">
                    <img src="img/fight.jpg">
                    <h2>  Your right to fight   </h2>
                    
                </a>
               
                 <a ui-sref="app.escape"   class="item item-body item-avatar item-icon-right">
                    <img src="img/esc.jpg">
                    <h2>  Escape </h2>
                    
                </a>
                
                <a  ui-sref="app.self"  class="item item-body item-avatar item-icon-right">
                    <img src="img/escape.jpg">
                    <h2>  Self-defense training  </h2>
                    
                </a>
                
      
        
    </ion-content>
</ion-view>
