<ion-view view-title="Tips">

<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card balanced-100-bg">

  <div class="item item-avatar">
    <img src="img/escape.jpg">
    <h2>Self-defense training</h2>
    
  </div>

  <div class="item item-body">
    
    <p>It is important to evaluate the goals and practical usefulness of a women’s self-defense program before signing up. Here are two tips:
</p>
    <p>Avoid martial arts studios unless you specifically wish to train in the traditional martial arts techniques and are prepared for a long-term commitment. Many women’s self-defense programs teach watered-down martial arts techniques that are complex and unrealistic under the stress of an actual attack;</p>
    <p>The self-defense program should include simulated assaults, with a fully padded instructor in realistic rape and attack scenarios, to allow you to practice what you’ve learned.</p>

  </div>

  

</div>
        
            
    </ion-content>
</ion-view>
