<ion-view view-title="Tips">
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
  
         <div class="list card assertive-100-bg">

  <div class="item item-avatar">
    <img src="img/sense.jpg">
    <h2>Use your sixth sense</h2>
    
  </div>

  <div class="item item-body">
    
    <p>“Sixth sense.” “Gut instinct.” Whatever you call it, your intuition is a powerful subconscious insight into situations and people. All of us, especially women, have this gift, but very few of us pay attention to it. </p><p>Learn to trust this power and use it to your full advantage. Avoid a person or a situation which does not “feel” safe–you’re probably right.</p>

  </div>

  

</div>
        
            </div>
        </div>
    </ion-content>
</ion-view>
