<ion-view view-title="Tips">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content  class="animate-fade-slide-in">
 
        <div class="item card-item">

            
        <a ui-sref="app.aware" class="item item-body item-avatar item-icon-right">
                    <img src="img/aware.jpg">
                    <h2> Awareness  </h2>
                    
                </a>
                
                <a  ui-sref="app.sense"  class="item item-body item-avatar item-icon-right">
                    <img src="img/sense.jpg">
                    <h2>  Use your sixth sense   </h2>
                    
                </a>

                <a  ui-sref="app.peper"  class="item item-body item-avatar item-icon-right">
                    <img src="img/spray.jpg">
                    <h2>  Pepper Spray  </h2>
                    
                </a>

                <a  ui-sref="app.fight"  class="item item-body item-avatar item-icon-right">
                    <img src="img/fight.jpg">
                    <h2>  Your right to fight   </h2>
                    
                </a>
               
                 <a ui-sref="app.escape"   class="item item-body item-avatar item-icon-right">
                    <img src="img/esc.jpg">
                    <h2>  Escape </h2>
                    
                </a>
                
                <a  ui-sref="app.self"  class="item item-body item-avatar item-icon-right">
                    <img src="img/escape.jpg">
                    <h2>  Self-defense training  </h2>
                    
                </a>
                
      
           
        
            </div>
        </div>
    </ion-content>
</ion-view>
